/* Set default font family and size */
body 
{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
}

/* Style the header */
header 
{
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the navigation links */
nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li 
{
    display: inline-block;
    margin-right: 20px;
}

nav a 
{
    color: #fff;
    text-decoration: none;
}

nav a:hover 
{
    text-decoration: underline;
}

/* Style the main content */
main 
{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 
{
    font-weight: bold;
    color: #ffffff;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-weight: bold;
    color: #333;
    font-size: 24px;
    margin-top: 40px;
}

h3 
{
    color: #ffffff;
    background-color: #333;
    font-weight: bold;
}

p 
{
    line-height: 1.5;
    color: #666;
}

.overlay 
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
  
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px; /* Increased padding for more space */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Increased width for more space */
    display: flex; /* Added flex display */
    flex-direction: column; /* Set flex direction to column */
    align-items: flex-start; /* Align items to the left */
    justify-content: center; /* Center align items vertically */
}

.popup h2 {
    margin-top: 0;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .content {
    margin-top: 20px;
    text-align: center; /* Center align text within the content */
}

.popup form label {
    display: flex; /* Added flex display */
    align-items: center; /* Align items vertically */
    margin-bottom: 5px;
    color: #333; /* Added color for better visibility */
    text-align: left; /* Align text to the left */
}

.popup form input[type="email"],
.popup form input[type="password"],
.popup form input[type="text"] {
    width: 100%; /* Adjusted width to occupy full space */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.popup form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}





