<!DOCTYPE html>
<html>
<head>
    <title>Hiking Database - Edit Database</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>HikeHub</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hikes">View Hikes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Edit Database</h2>
        <h3>Add a New Hike</h3>
        <form id="add_new_hike" method="POST" action="/add_new_hike">
            <label for="input-Name">Name:</label>
            <input type="text" id="input-Name" name="input-Name" required><br>

            <label for="input-Location">Location:</label>
            <input type="text" id="input-Location" name="input-Location" required><br>

            <label for="input-Distance">Distance:</label>
            <input type="text" id="input-Distance" name="input-Distance" required><br>

            <label for="input-Elevation">Elevation:</label>
            <input type="text" id="input-Elevation" name="input-Elevation" required><br>

            <label for="input-Difficulty">Difficulty:</label>
            <input type="text" id="input-Difficulty" name="input-Difficulty" required><br>

            <label for="input-Description">Description:</label>
            <textarea id="input-Description" name="input-Description" required></textarea><br>

            <button type="submit">Add Hike</button>
        </form>

        <h3>Add Review to Existing Hike</h3>
        <form>
            <label for="hike">Select Hike:</label>
            <select id="hike" name="hike" required>
                <option value="">Select a hike</option>
                {{#each hikes}}
                <option value="{{this.HikeID}}">{{Name}}</option>
                {{/each}}
            </select><br>

            <label for="review">Review:</label>
            <textarea id="review" name="review" required></textarea><br>

            <button type="submit">Add Review</button>
        </form>

         <h3>Delete a Hike </h3>
        <form id="delete_new_hike" method="POST" action="/delete_new_hike">
            <label for="hike">Select Hike:</label>
            <select id="hike" name="hike" required>
                <option value="">Select a hike</option>
                {{#each hikes}}
                <option value="{{this.HikeID}}">{{Name}}</option>
                {{/each}}
            </select><br>

            

            <button type="submit">Delete</button>
        </form>
    </main>
</body>
</html>